<div class="home-block">
    <div class="form-group-header">
    <h2>Восстановление пароля</h2>
    </div>
    <alert></alert>
    <form name="form" (ngSubmit)="resetPasswod()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
<p>Введите адрес вашей электронной почты в поле ниже, и мы вышлем на него инструкции по восстановлению пароля.</p>
            <label for="email">Электронный адрес</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />

         <div *ngIf="f.submitted && !email.valid" class="help-block">Необходимо ввести адрес электронной почты</div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">Восстановить пароль</button>
        </div>

    
    </form>

    <div class="out-reset-password">
            <a [routerLink]="['/login']" class="">Отмена</a>
        </div>

</div>
