<div class="home-block">
    <div class="form-group-header">
    <h2>{{ 'reset_password_label' | translate }}</h2>
    </div>
    <alert></alert>
    <form name="form" (ngSubmit)="resetPasswod()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <p>{{ 'reset_password_instruction'  | translate }}</p>
            <label for="email">{{ 'email_label' | translate }}</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />

         <div *ngIf="f.submitted && !email.valid" class="help-block">{{ 'enter_email_label' | translate }}</div>
        </div>

        <div class="form-group">
          <button [attr.disabled]="disable_button ? 'disabled' : null" class="btn btn-primary">{{ 'reset_password_button' | translate }}</button>
        </div>

    
    </form>

    <div class="out-reset-password">
            <a [routerLink]="['/login']" class="">{{ 'cancel_label' | translate }}</a>
        </div>

</div>
