<div id="footer">

  <div class="footer-content big">
    <div class="footer-element">
        <h3>{{'conference_organizers' | translate}}</h3>
        <div class="footer-logos">
               <img (click)="goToExternalUrl('https://urfu.ru')" src="assets/images/urfu_footer_logo.png" />
          <!--<img (click)="goToExternalUrl('http://rybakovfond.ru/')" src="assets/images/rybakovfond_footer_logo.png" />-->
        </div>
    </div>

    <div class="footer-element">
<!--      {{'support_label' | translate}}-->
        <h3> </h3>
    <div class="footer-logos">
      <!--<img (click)="goToExternalUrl('https://openedu.ru/')" src="assets/images/openedu_footer_logo.png" />-->
          <img (click)="goToExternalUrl('http://misis.ru/')" src="assets/images/misis.png" />
    </div>

    </div>
    <!--<div class="footer-contact-info">-->
    <div class="footer-element contact-info">
      <h3>{{ 'contacts_label' | translate }}</h3>
      <p> {{ 'please_contact_us_msg' | translate }}
        <a href="mailto:edcrunch.ural@urfu.ru">
      edcrunch.ural@urfu.ru</a>
      </p>
      <p> {{'or_call_msg' | translate}} <br />
     +7 (343) 374-58-24 ({{ 'working_hours_msg' | translate }})</p>
      <p>{{ 'our_address' | translate }}
      </p>
    </div>
</div>

  <div class="footer-content small">
    <div class="footer-element contact-info">
      <h3>{{ 'contacts_label' | translate }}</h3>
      <p>{{ 'please_contact_us_msg' | translate }}
        <a href="mailto:edcrunch.ural@urfu.ru">
      edcrunch.ural@urfu.ru</a>
      </p>
      <p>{{'or_call_msg' | translate}} <br />
     +7 (343) 374-58-24 ({{ 'working_hours_msg' | translate }})</p>
    </div>
    <div class="footer-element">
        <h3>{{'conference_organizers' | translate}}</h3>
        <div class="footer-logos">
              <img (click)="goToExternalUrl('https://urfu.ru')" src="assets/images/urfu_footer_logo.png" />
          <!--<img (click)="goToExternalUrl('http://rybakovfond.ru/')" src="assets/images/rybakovfond_footer_logo.png" />-->
        </div>
    </div>

    <div class="footer-element">
<!--      {{'support_label' | translate}}-->
        <h3> </h3>
    <div class="footer-logos">
          <img (click)="goToExternalUrl('https://openedu.ru/')" src="assets/images/openedu_footer_logo.png" />
          <img (click)="goToExternalUrl('http://misis.ru/')" src="assets/images/misis.png" />
    </div>

    </div>
</div>
