@import "~scss/base/variables";

.event-list-block {

  h1{
    font-size: 350%;
    letter-spacing: 1.5px;
    color: #282866;
    font-weight: 700;
    /* margin-bottom: 20px; */
    /* margin-top: 10px; */
    /* line-height: 1.2; */
    text-transform: uppercase;
    font-family: "IBM Plex Mono",monospace;
  }

  .events-list-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

    .events-filter {
      width: 240px;
      -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-family: "IBM Plex Mono",monospace;
      //background-color: #333;
      box-sizing: border-box;

      .events-filter-head {
        padding: 12px 20px;
        box-sizing: border-box;
        font-size: 150%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        background: #a2d9f0;
        color: #282866;
      }

      .program-filter-slide {

        background: #a2d9f042;

        .events-filter-block {
          padding: 10px 14px;

          .events-filter-block-name {
            font-size: 90%;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            margin-bottom: 5px;
          }

          .events-filter-block-filter {


            .checkbox-item {
              cursor: pointer;
              display: block;
              font-size: 62.5%;
              text-transform: uppercase;
              user-select: none;
              position: relative;
              margin-top: 10px;
              padding-left: 16px;

              input:checked + span:after {
                content: "";
                display: inline-block;
                background: #0392bd;
                height: 10px;
                width: 10px;
                left: 1px;
                top: 1px;
                text-align: center;
                vertical-align: middle;
                box-sizing: border-box;
                position: absolute;
              }

              input#edu_ecosystem:checked + span:after {
                background: $edu_ecosystem_color;
              }

              input#edu_stsos:checked + span:after {
                background: $edu_stsos_color;
              }

              input#edu_interaction:checked + span:after {
                background: $edu_interaction_color;
              }

              input#edu_analytics:checked + span:after {
                background: $edu_analytics_color;
              }

              input#edu_inclusive:checked + span:after {
                background: $edu_inclusive_color;
              }

              input#edu_tech:checked + span:after {
                background: $edu_tech_color;
              }

              input#edu_legal:checked + span:after {
                background: $edu_legal_color;
              }

              &:before {
                content: "";
                display: inline-block;
                border: 1px solid black;
                position: absolute;
                left: 0;
                height: 12px;
                width: 12px;
                text-align: center;
                vertical-align: middle;
                box-sizing: border-box;
              }
            }

          }
        }
      }

      #events-filter-reset {
        padding: 10px 14px;
        margin-top: 2px;
        border-top: 1px solid #a2d9f0;
        background: aliceblue;

        button {
          display: inline-block;
          width: 100%;
          border: solid 2px #00a7d8;
          height: 35px;
          text-decoration: none;
          text-align: center;
          font-size: 87.5%;
          color: #00a6d8;
          font-weight: bold;
          letter-spacing: 1.2px;
          background: #f4f4f4;
          transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out;
          box-sizing: border-box;
          padding: 6px;
          font-weight: bold;

          &:hover {
            color: white;
            background-color: #00a7d8;
          }
        }
      }
    }

    .events-list {
      margin-left: 20px;
      width: 100%;

      .to-all-or-my-events{
        text-align: right;
      }
      .events-list-time-item {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;
        color: #282866;

        span:after {
          content: "";
          width: 100%;
          height: 2px;
          background: #282866;
          position: absolute;
          bottom: 5px;
          margin-left: 7px;



        //{{filters.by_path[option].slug}}

        }
      }

      .conference-date {
        text-align: center;
        padding: 10px 0px;
        font-size: 120%;
        color: #282866;
      }

      .events-list-empty {
        font-size: 150%;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .event-list-block {
    .events-list-wrap {
      -ms-flex-direction: column;
      flex-direction: column;

      .events-list {
        margin-left: 0px;
      }

      .events-filter {
        input[type="checkbox"] {
          display: none;
        }

        width: 100%;
        margin-bottom: 30px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        position: relative;
      }

    }

  }

}
