<div class="event-list-block">

  <h1>{{ 'events_program_label' | translate }}</h1>
  <div class="events-list-wrap">

    <div class="events-filter">
      <div class="events-filter-head">{{ 'filters_label' | translate }}</div>

      <div class="program-filter-slide">

        <div class="events-filter-block">

          <div class="events-filter-block-name">{{ 'day_label' | translate }}</div>


          <div class="events-filter-block-filter">

            <select [(ngModel)]="user_filters.by_day" (change)="filterChange()">
              <option *ngFor="let c of filters?.by_day" [ngValue]="c.value">{{c.name}}</option>
            </select>
          </div>

        </div>
        <div class="events-filter-block">

            <div class="events-filter-block-name">{{ 'path_label' | translate }} </div>

          <div class="events-filter-block-filter">

            <label *ngFor="let option of user_filters.by_path" class="checkbox-item"><input type="checkbox" id="{{option.slug}}" value="{{option.slug}}" [(ngModel)]="option.checked" (change)="filterChange()" /> <span></span> {{option.title}}</label>

          </div>
        </div>
        <div class="events-filter-block">

          <div class="events-filter-block-name">{{ 'event_type_label' | translate }} </div>

          <div class="events-filter-block-filter">

<!--            <div *ngFor="let option of user_filters.by_type" class="checkbox-item">-->
              <label *ngFor="let option of user_filters.by_type" class="checkbox-item"><input type="checkbox" id="{{option.slug}}" value="{{option.slug}}" [(ngModel)]="option.checked" (change)="filterChange()" /> <span></span> {{option.title}}</label>
<!--            </div>-->

          </div>
        </div>

      </div>

      <div *ngIf="showResetFilter" id="events-filter-reset">
        <button (click)="resetFilters()">{{ 'events_filter_reset' | translate }}</button>
      </div>
    </div>


    <div *ngIf="timeGrid" class="events-list">
      <div class="row" *ngIf="objectKeys(timeGrid).length == 0" class="events-list-empty">
        {{ 'not_found_events_label' | translate }}
      </div>

      <div *ngFor="let day of timeGrid | eventsToObject; let i = index" class="">
<!--        <div class="conference-date">-->
<!--              <strong> {{day.key}} апреля, 2019 </strong>-->
<!--          <strong>{{ i }}</strong>-->
<!--        </div>-->

        <div>
          <template ngFor let-time [ngForOf]="day.val | eventsToObject" let-ii="index">
            <div class="time-container">
              <div class="events-list-time-item">
                <span>
                  <strong *ngIf="ii == 0" class="conference-date"> {{day.key}} апреля 2019, </strong>
                  {{ time.key | date:'shortTime' }}
                </span>

              </div>
              <div class="events-at-day">
                <template ngFor let-event [ngForOf]="time.val" let-i="index">

                  <!--                                <div class="">-->

                  <div *ngIf="currentUser" class="app-event" [currentEvent]="event" [currentUser]="currentUser"
                       [isLogged]="isLogged"></div>


                  <!--                                </div>-->
                </template>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>


  </div>
</div>
