<div class="event-list-block">

  <h1>{{ 'events_program_label' | translate }}</h1>
  <div class="events-list-wrap">

    <div class="events-filter">
      <div class="events-filter-head">{{ 'filters_label' | translate }}</div>

      <div class="program-filter-slide">

        <div class="events-filter-block">

          <div class="events-filter-block-name">{{ 'day_label' | translate }}</div>


          <div class="events-filter-block-filter">

            <select [(ngModel)]="user_filters.by_day" (change)="filterChange()">
              <option *ngFor="let c of filters?.by_day" [ngValue]="c.value">{{c.name}}</option>
            </select>
          </div>

        </div>

        <div class="events-filter-block">

            <div class="events-filter-block-name">{{ 'path_label' | translate }} </div>

          <div class="events-filter-block-filter">

            <label *ngFor="let option of objectKeys(filters.by_path)" class="checkbox-item"><input type="checkbox" id="{{filters.by_path[option].slug}}" value="{{filters.by_path[option].slug}}" [(ngModel)]="user_filters.by_path[option].checked" (change)="filterChange()" /> <span class="path-filter-{{filters.by_path[option].slug}}"></span> {{filters.by_path[option].title}}</label>

          </div>
        </div>
        <div class="events-filter-block">

          <div class="events-filter-block-name">{{ 'event_type_label' | translate }} </div>

          <div class="events-filter-block-filter">

<!--            <div *ngFor="let option of user_filters.by_type" class="checkbox-item">-->
              <label *ngFor="let option of objectKeys(filters.by_type)" class="checkbox-item"><input type="checkbox" id="{{filters.by_type[option].slug}}" value="{{filters.by_type[option].slug}}" [(ngModel)]="user_filters.by_type[option].checked" (change)="filterChange()" /> <span></span> {{filters.by_type[option].title}}</label>
<!--            </div>-->

          </div>
        </div>

      </div>

      <div *ngIf="showResetFilter" id="events-filter-reset">
        <button (click)="resetFilters()">{{ 'events_filter_reset' | translate }}</button>
      </div>
    </div>


    <div *ngIf="timeGrid" class="events-list">
      <div class="row" *ngIf="objectKeys(timeGrid).length == 0" class="events-list-empty">
        {{ 'not_found_events_label' | translate }}
      </div>
      <div class="row" *ngIf="objectKeys(timeGrid).length != 0 && isLogged" class="to-all-or-my-events">
        <div><a routerLink="/events/my">{{ 'to_my_events_label' | translate }}</a></div>
      </div>
      <div *ngFor="let day of timeGrid | eventsToObject; let i = index" class="">
<!--        <div class="conference-date">-->
<!--              <strong> {{day.key}} апреля, 2019 </strong>-->
<!--          <strong>{{ i }}</strong>-->
<!--        </div>-->

        <div>
          <template ngFor let-time [ngForOf]="day.val | eventsToObject" let-ii="index">
            <div class="time-container">
              <div class="events-list-time-item">
                <span>
                  <strong *ngIf="ii == 0" class="conference-date"> {{day.key}} {{ 'month_' + time.val[0].startdate.getMonth()+'_1' | translate }} {{time.val[0].startdate.getFullYear()}}, </strong>
                  {{ time.key | date:'shortTime' }}
                </span>

              </div>
              <div class="events-at-day">
                <template ngFor let-event [ngForOf]="time.val" let-i="index">

                  <div *ngIf="currentUser" class="app-event" #cmp (onChanged)="onChanged($event)" [currentEvent]="event" [currentUser]="currentUser" [isLogged]="isLogged"></div>

                </template>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
<!--    <a (click)="scrollHelper.doScroll()" id="return-to-top" title="Наверх"><i class="fa fa-chevron-up"></i></a>-->

  </div>
</div>
<!--</router-outlet>-->
