@mixin banner($width, $height, $size) {
  .homeBanner {
    background: $light_gray;

    section.banner {
      height: $height;
      position: relative;
    //url("/assets/images/misis.png") no-repeat,
      background:
      url("/assets/images/banner/1-06_2019.png") no-repeat, // Урфу
      url("/assets/images/banner/1-05_2019.png") no-repeat, // edcrunch урал
      url("/assets/images/banner/1-04_2020.png") no-repeat, // Конференция
      url("/assets/images/banner/1-03_2019.png") no-repeat, // Дата
      url("/assets/images/banner/1-02_2019.png") no-repeat,
      url("/assets/images/banner/1-01_2019.png") no-repeat;

      background-size:  auto 13%, auto 16%, auto 23%, auto 11%, auto 125%, auto 103%; //auto 17%
      background-position:  83% 9%, 9% 6.5%, 82% 94%, 9.2% 95%, 52% -80%, 47% 47%; //92% 5.5%,


      @if ($width<575px) {

        background-size: auto 15%, auto 8%, auto 13%, auto 25%, auto 13%, auto 125%, auto 103%;
        background-position: 97% 2%, 70% 6%, 3% 5.5%, 93% 95%, 3.2% 91%, 50% -80%, 50% 50%;

      }

      @if ($width<1200px) {
        background-size: auto 17%, auto 11%, auto 16%, auto 23%, auto 11%, auto 125%, auto 103%;
        background-position: 94% 4%, 70% 8%, 3% 5.5%, 93% 95%, 3.2% 91%, 50% -80%, 50% 50%;

      }
    }

    div.bigButton {
      padding: $size;

      a {
        display: block;
        background: #ee4037;
        border: none;
        color: #fafafa;
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        padding: $size;
        text-transform: uppercase;
        padding: 1em;
      }
    }
  }

  .homeBanner_en {
    background: $light_gray;

    section.banner {
      height: $height;
      position: relative;
      background: url("/assets/images/misis_en.png") no-repeat,
      url("/assets/images/banner/1-06_en_2019.png") no-repeat, // Урфу
      url("/assets/images/banner/1-05_2019.png") no-repeat, // edcrunch урал
      url("/assets/images/banner/1-04_en_2019.png") no-repeat, // Конференция
      url("/assets/images/banner/1-03_en_2019.png") no-repeat, // Дата
      url("/assets/images/banner/1-02_2019.png") no-repeat,
      url("/assets/images/banner/1-01_2019.png") no-repeat;

      background-size: auto 17%, auto 13%, auto 16%, auto 23%, auto 11%, auto 125%, auto 103%;
      background-position: 92% 5.5%, 73% 8%, 3% 5.5%, 93% 95%, 3.2% 91%, 50% -80%, 50% 50%;


      @if ($width<575px) {

        background-size: auto 15%, auto 8%, auto 13%, auto 25%, auto 13%, auto 125%, auto 103%;
        background-position: 97% 2%, 70% 6%, 3% 5.5%, 93% 95%, 3.2% 91%, 50% -80%, 50% 50%;

      }

      @if ($width<1200px) {
        background-size: auto 17%, auto 11%, auto 16%, auto 23%, auto 11%, auto 125%, auto 103%;
        background-position: 94% 4%, 70% 8%, 3% 5.5%, 93% 95%, 3.2% 91%, 50% -80%, 50% 50%;

      }

    }

    div.bigButton {
      padding: $size;


      a {
        display: block;
        background: #ee4037;
        border: none;
        color: #fafafa;
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        padding: $size;
        text-transform: uppercase;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  @include banner(575px, 300px, 1em);

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  @include banner(767px, 300px, 1.2em)
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  @include banner(991px, 460px, 1.2em)
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  @include banner(1199px, 558px, 1.2em)
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1920px) {
  @include banner(1920px, 668px, 1.2em)
}

// Ultra large devices (large desktops, 1921px and up)
@media (min-width: 1921px) {
  @include banner(2560px, 856px, 1.2em)
}
