
<div class="home-block">
<!--<div *ngIf="showNewRegister" class="reg-new-user">Хотите выйти и зарегистрировать нового участника? <button (click)="toNewRegiser()">Да</button> <button (click)="showNewRegister=false">Нет</button> </div>-->

   <div class="form-group-header">
        <h2>{{ 'edit_profile_label' | translate }}</h2>
</div>
 <alert></alert>
         <div class="form-group current-email">
               <label>Email: {{currentUserEmail}}</label>
        </div>

    <form name="form" (ngSubmit)="update()" #f="ngForm" novalidate>



        <div class="form-group">
            <label for="last_name">{{ 'last_name_label' | translate }}:</label>
            <input value="{{currentUser.last_name}}" type="text" class="form-control" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <div class="form-group">
            <label for="first_name">{{ 'first_name_label' | translate }}:</label>
            <input value="{{currentUser.first_name}}" type="text" class="form-control" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <div class="form-group">
            <label for="second_name">{{ 'second_name_label' | translate }}:</label>
            <input value="{{currentUser.second_name}}" type="text" class="form-control" name="second_name" [(ngModel)]="model.second_name" #second_name="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <div class="form-group">
          <label for="leader_id">Leader ID:</label>
          <input value="{{currentUser.leader_id}}" type="text" class="form-control" name="leader_id" [(ngModel)]="model.leader_id" #leader_id="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <!--<div class="form-group">
            <label for="alt_email">Дополнительный e-mail</label>
            <input value="{{currentUser.alt_email}}" type="text" class="form-control" name="alt_email" [(ngModel)]="model.alt_email" #alt_email="ngModel" required />
        </div>-->

       <!--<div class="form-group">
            <label for="birthday_date">Дата рождения:</label>
            <input value="{{currentUser.birthday_date}}" type="date" class="form-control" name="birthday_date" [(ngModel)]="model.birthday_date" #birthday_date="ngModel" required />
        </div>-->

        <!--<div class="form-group">
        <label for="sex">Пол:</label>
            <select value="{{currentUser.sex}}"  name="sex" [(ngModel)]="model.sex" #sex="ngModel" >
            <option value="M">Мужской</option>
            <option value="F">Женский</option>
            </select>
        </div>-->



        <div class="form-group">
            <label for="position">{{ 'present_post_label' | translate }}:</label>
            <input value="{{currentUser.position}}" type="text" class="form-control" name="position" [(ngModel)]="model.position" #position="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <div class="form-group">
            <label for="organisation">{{ 'job_label' | translate }}:</label>
            <input value="{{currentUser.organisation}}" type="text" class="form-control" name="organisation" [(ngModel)]="model.organisation" #organisation="ngModel" required (ngModelChange)="hideAlert()" />
        </div>


        <div class="form-group">
            <label for="phone">{{ 'phone_number_label' | translate }}</label>
            <input value="{{currentUser.phone}}"  type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required (ngModelChange)="hideAlert()" />
        </div>

        <div class="form-group">
            <label for="participation">{{ 'type_of_participation' | translate }}:</label>
            <select value="{{currentUser.participation}}"  name="participation" [(ngModel)]="model.participation" #participation="ngModel" (ngModelChange)="hideAlert()" >
            <option value="O">{{ 'internally_label' | translate }}</option>
            <option value="T">{{ 'broadcast_label' | translate }}</option>
            </select>
         </div>

      <div class="form-group change-password-button">
            <a routerLink="/profile/change-password" class="btn btn-primary"><i class="fa fa-key" aria-hidden="true"></i><span>  {{ 'change_password_label' | translate }}</span></a>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">{{ 'save_label' | translate }}</button>
        </div>
    </form>

       <div class="edit-out">
            <a routerLink="/profile/my" class="btn btn-primary">{{ 'cancel_label' | translate }}</a>
       </div>

</div>
