/*a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    color: black;
    border-radius: 2px;
    background: #e6e6e6;

}

a:hover{
        background: gray;
        color: white;
    }*/
