<div class="event-list-block">

  <h1>{{ 'your_events_label' | translate }}</h1>
<!--  <h1>Ваши мероприятия</h1>-->
  <div class="events-list-wrap">

    <div *ngIf="eventsGrid" class="events-list">
      <div class="row" *ngIf="objectKeys(eventsGrid).length == 0" class="events-list-empty">
        <div>{{ 'not_registered_for_events_msg' | translate }}</div>
          <div><a routerLink="/events">{{ 'to_all_events_label' | translate }}</a></div>
      </div>
      <div class="row" *ngIf="objectKeys(eventsGrid).length != 0" class="to-all-or-my-events">
        <div><a routerLink="/events">{{ 'to_all_events_label' | translate }}</a></div>
      </div>

      <div *ngFor="let day of eventsGrid | eventsToObject; let i = index" class="">
        <!--        <div class="conference-date">-->
        <!--              <strong> {{day.key}} апреля, 2019 </strong>-->
        <!--          <strong>{{ i }}</strong>-->
        <!--        </div>-->

        <div>
          <template ngFor let-time [ngForOf]="day.val | eventsToObject" let-ii="index">
            <div class="time-container">
              <div class="events-list-time-item">
                <span>
                  <strong *ngIf="ii == 0" class="conference-date"> {{day.key}} {{ 'month_' + time.val[0].startdate.getMonth()+'_1' | translate }} {{time.val[0].startdate.getFullYear()}}, </strong>
                  {{ time.key | date:'shortTime' }}
                </span>

              </div>
              <div class="events-at-day">
                <template ngFor let-event [ngForOf]="time.val" let-i="index">

                  <div *ngIf="currentUser" class="app-event" [currentEvent]="event" [currentUser]="currentUser" [isLogged]="true"></div>

                </template>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
