
<div class="home-block">
  <div *ngIf="userEvents?.length > 0" >
    <h2>
      Ваши мероприятия:
    </h2>
  <div *ngFor="let event of userEvents">
  <div class="event-time {{event.eventtypeid}}">



<div *ngIf="currentUser" class="app-event" [currentUser]="currentUser" [currentEvent]="event" [isLogged]="true"></div>





      <!--
        <p *ngIf="event.event.eventtype" class="eventtype-name"> eventtype-{{event.event.eventtype}} <br /> </p>
      <p class="event-title" (click)="toEvent(event.event)"><strong>{{event.event.title}} </strong></p>
        <p class="event-title"><strong>{{event.event.startdate |  date}} </strong></p>
          <p>  {{event.event.startdate |  date:'shortTime'}} - {{event.event.enddate |  date:'shortTime'}} </p>
          <button (click)="unregisterOnEvent(event.event.id)" class="btn btn-primary">Отписаться</button> 
-->

    </div>
  </div>
  </div>

  <div *ngIf="userEvents?.length == 0">
    <h2>Вы не зарегистрированы ни на одно мероприятие</h2>
  </div>
</div>