@media (max-width: 575px) { 
    body{
        font-size:12px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    body{
        font-size:12px;

    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    body{
        font-size:14px;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    body{
        font-size:16px;
    }
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1920px){ 
    body{
        font-size:18px;

    }
    
}

// Ultra large devices (large desktops, 1921px and up)
@media (min-width: 1921px) {
    body{
        font-size:18px;
    }
    
}



h1 {
    font-size: 2em;
    margin: .2em 0;
    font-weight: 100;
    line-height: 1em;
    
}

h2 {
    font-size: 1.8em;
    margin: .18em 0;
    font-weight: 100;
    line-height: .9em;
}

h3 {
    font-size: 1.55em;
    margin: .16em 0;
    font-weight: 100;
    line-height: .9em;
}

h4 {
    font-size: 1.4em;
    margin: .14em 0;
    font-weight: 100;
    line-height: .7em;
}

h5 {
    font-size: 1.2em;
    margin: .12em 0;
    font-weight: 100;
    line-height: .6em;
}

h6 {
    font-size: 1.8em;
    margin: .2em 0;
    font-weight: 100;
    line-height: .9em;
}

p{
    font-size: 1em;
    font-weight: 100;
}
ul{

    font-weight: 100;
    li{
        font-size: 1em;
        font-weight: 100;
    }
}