$menu-color: black;
$menu-color-text: white;

$menu-height: 96px;

$events_container_width: 1000px;
$event_height: 100px;
$time_item_width:  0px;
$events_at_time_width:($events_container_width - $time_item_width);

$event_item_margin: 10px;
$event_item_padding: 8px;
$event_left_border: 8px;

// color
// edcrunch

$blue: #2d58a7;
$red: #ee4037;
$purple: #683894;
$turquoise: #23b9e2;
$green: #30b84b;
$lilac: #cf3ed5;
$dark_gray: #323232;
$light_gray: #e7e5e5;

$dark_shadow: rgba($dark_gray, .7);
$light_shadow: rgba($light_gray, .7);

//apple
$light: #fafafa;



// font
$font_size_default: 10pt;

// events trajectories colors

//$edu_ecosystem_color: #65b32e;
//$edu_stsos_color: #790b5b;
//$edu_interaction_color: #e6007e;
//$edu_analytics_color: #ffda00;
//$edu_inclusive_color: #ec6608;
//$edu_tech_color: #f9ae00;
//$edu_legal_color: #e30613;
$edu_ppk_color: #3e3665; // он не используется, там просто белый


$edu_ecosystem_color: #65B231;
$edu_stsos_color: #7373ff;
$edu_interaction_color: #e4037d;
$edu_analytics_color: #ffda00;
$edu_inclusive_color: #03a6d8;
$edu_tech_color: #f8ad04;
$edu_legal_color: #e20917;
$edu_cs_color: #662D91;


