

<div class="home-block">
    <div *ngIf="showPassReset" class="pass-alert-success">
      {{'new_password_sent' | translate }}: <span>{{this.model.email}}</span>
    </div>

    <div class="form-group-header">
    <h2>{{'login_msg' | translate}} </h2>

    </div>
    <alert *ngIf="alertExists"></alert>
    <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate >
       
 
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">{{'email_label' | translate}} </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required (ngModelChange)="hideBlock()"/>

         <div *ngIf="f.submitted && !email.valid" class="help-block">{{'enter_email_label'|translate}}</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">{{ 'password_label' | translate }} </label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required (ngModelChange)="hideBlock()"/>
           <div *ngIf="f.submitted && !password.valid" class="help-block"> {{'enter_password_label' | translate}} </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">{{ 'sign_in_label' | translate }}</button>
        </div>

        <div class="reset-password">
            <a [routerLink]="['/reset-password']" class="">{{'forgot_password_label' | translate}}</a>
        </div>
        <div class="form-group-header center">
        <h3>{{'or_label' | translate}}</h3>
        </div>
            <div class="form-group">
                <a [routerLink]="['/register']" class="btn btn-link">{{ 'sign_up_label' | translate }}</a>
        </div>
      <div class="form-group-header center">

      </div>

      <!--<div class="form-group">-->
      <!--<a [routerLink]="['/register-students']" class="btn btn-link green">Зарегистрироваться на PechaKucha</a>-->
        <!--</div>-->

    </form>
</div>

