.reset-password{
    text-align: center;
    a{
        color: black;
        text-align: center;
       // text-decoration: none;
           font-size: 0.9em;
    }
}
.pass-alert-success{
        padding: 20px;
    font-size: 12pt;
    text-align: center;
    background: #8af39d;
    span{
        font-weight: 600;
    }
}