<nav name="top">

  <label (click)="toggleMenuVisible()" class="button-nav"><i aria-hidden="true" class="fa fa-bars"></i></label>
  <ul [ngClass]="{showed: showMenu}" class="menu">
    <li (click)="toggleMenuVisible(true)" *ngFor="let url of listUrl" [routerLinkActive]="['active']" class="item">

      <!--<template [ngIf]="userLang=='ru-RU'">-->
        <a *ngIf=" url.type == 'header'" [routerLink]="[url.url, url.underpage[0].url]"> {{ url.title }} </a>
        <a *ngIf="url.type != 'header'" [routerLink]="url.url"> {{ url.title }} </a>
      <!--</template>-->

      <!--<template [ngIf]="userLang!='ru-RU'">-->
        <!--<a *ngIf=" url.type == 'header'" [routerLink]="[url.url, url.underpage[0].url]"> {{ url.title_en }} </a>-->
        <!--<a *ngIf="url.type != 'header'" [routerLink]="url.url"> {{ url.title_en }} </a>-->
      <!--</template>-->


      <ul *ngIf="url.underpage && url.type != 'homepage'" class="submenu">

        <li (click)="toggleMenuVisible(true)" *ngFor="let url2 of url.underpage" [routerLinkActive]="['active_sub']"
            class="subitem">

          <a (click)="goTo(url2.url)" *ngIf=" url.type == 'longpage' && url.url != 'profile/edit'">
            <img (error)="defaultImage($event)" class="subitem-icon" src="assets/images/icons/{{url2.url}}_icon.svg"/>
            <span *ngIf="url2.type != 'events'">{{ url2.title }}</span>
          </a>

          <a *ngIf=" url.type != 'longpage' && url.url != 'profile/edit'" [attr.alt]="url2.title"
             [routerLink]="[url.url, url2.url]">
            <img (error)="defaultImage($event)" class="subitem-icon" src="assets/images/icons/{{url2.url}}_icon.svg"/>
            <span>{{ url2.title }}</span>
            <!--*ngIf="url2.url == 'all_events' || url2.type != 'events'"-->
          </a>
        </li>
      </ul>

    </li>

  </ul>


  <!-- lang-switcher--pill -->
  <!-- lang-switcher--rounded-pill -->

<!--  <ul class="lang-switcher"  style="position: absolute; top: 10px; right: 10px;">-->
<!--    <li  *ngFor="let lang of this._translate.availableLangs" [value]="lang.code" (click)="lang.code !== this._translate.currentLang ? this._translate.use(lang.code) : false"><span [class.is-active]="lang.code === this._translate.currentLang">{{ lang.code }}</span></li>-->
<!--  </ul>-->

</nav>

