$menu-color: black;
$menu-color-text: white;

@media screen and (min-width: 600px) {

.menu-button{
    display: none;
}


nav {
    background-color: $menu-color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 46px;
    

    -webkit-box-shadow: 0px 0px 6px 0px black;
    -moz-box-shadow: 0px 0px 6px 0px black;
    box-shadow: 0px 0px 6px 0px black;

    ul.menu { 
 
        //position: relative;
        margin: 0 auto;
        //height: 46px;
        //display: block;
        padding: 0px;
        text-align: center;

        li.item {
            list-style: none;
            /*display: block;
            position: relative;
            float: left;*/
            display: inline-block;

            &:hover {
                background-color: rgba(242,242,242,.3);
            }
            
            &.active{
                background-color: rgba(242,242,242,.4);    
            }
            
            &.active ul  {
                display: block;    
            }

            &:hover ul  {
                display: block;
                z-index: 1001;
            }

            a {
                text-decoration: none;
                color: $menu-color-text;
                font-family: "Open Sans";
                padding: 0px 0px;
               // float: left;
               display: block;
                padding: 12px 9px;
            }

            ul {
                padding: 0px;
                text-align: center;
                top: 46px;
                left: 0px;
                right: 0px;
                background-color: rgb(242,242,242);
                position: absolute;
                display: none;
                    li{
                        &.active_sub a  {
                            font-weight: bold;   
                        }

                        z-index: 1010;
                        vertical-align: top;
                        display: inline-block;
                        a{
                            color: black;
                        }
                    }
                }
        
        }
    }

}
  [type="checkbox"], label {
	  display: none;
}
}


@media screen and (max-width: 600px) {


nav {
    background-color: $menu-color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 46px;
    

    -webkit-box-shadow: 0px 0px 6px 0px black;
    -moz-box-shadow: 0px 0px 6px 0px black;
    box-shadow: 0px 0px 6px 0px black;

    /*
     a.menu-button{
            display: block;
            color: white;
            padding: 10px 0px;
        }

        &:hover ul.menu{
                display: block;
         }
    */
        
    label {
            display: block;
            width: 61px;
            height: 40px;
            cursor: pointer;
            position: relative;
            right: -6px;
            top: 0px;
            background: black;
        }

    input{
        display: none;
    }

    label:after{
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        box-shadow: 0px 8px 0px #777, 0px 16px 0px #777, 0px 24px 0px #777;
    }

	[type="checkbox"]:checked ~ ul{
  		display: none;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
	}


    ul.menu { 
        list-style: none;
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: block;
        padding: 0px;
    


        li.item {
            
            display: block;
            position: relative;
            padding: 4px 0px;
            
            &:hover {
                background-color: rgba(242,242,242,.3);
            }
            
            &.active{
                background-color: rgba(242,242,242,.4);    
            }
            
            &.active ul  {
                display: block;    
            }

            &:hover ul  {
               // display: block;
                z-index: 1001;
            }

            a {
                display: block;
                text-decoration: none;
                color: $menu-color-text;
                font-family: "Open Sans";
            }

            ul {
                padding: 0px;
                text-align: center;
                left: 0px;
                right: 0px;
                background-color: rgb(242,242,242);
                display: none;
                    li{
                        list-style: none;
                        padding: 5px 0px;
                        &.active_sub a  {
                            font-weight: bold;   
                        }

                        z-index: 1010;
                        vertical-align: top;
                      //  display: inline-block;
                        a{
                            display: block;
                            color: black;
                        }
                    }
                }
        
        }
    }

}
}

