.navbar{
    .navbar-nav{
        .nav-item:hover{
            background-color: #444;
            border-radius: 3px;
        }
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }