<div class="home-block">
    <div class="form-group-header">
    <h2>Изменение пароля</h2>
    </div>
    <alert></alert>
    <form name="form" (ngSubmit)="newPasswod()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password_old.valid }">
            <label for="password_old">Ваш старый пароль</label>
            <input type="password" class="form-control" name="password_old" [(ngModel)]="model.password_old" #password_old="ngModel" required />
           <div *ngIf="f.submitted && !password_old.valid" class="help-block">Введите старый пароль</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password1.valid }">
            <label for="password1">Введите новый пароль</label>
            <input type="password" class="form-control" name="password1" [(ngModel)]="model.password1" #password1="ngModel" required />
           <div *ngIf="f.submitted && !password1.valid" class="help-block">Введите новый пароль</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password2.valid }">
            <label for="password2">Повторите новый пароль</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required />
           <div *ngIf="f.submitted && !password2.valid" class="help-block">Повторите новый пароль</div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Изменить пароль</button>
        </div>
    <div class="reset-password">
            <a [routerLink]="['/profile/edit']" class="">Отмена</a>
        </div>
    </form>
</div>