<div class="home-block">
       <div class="form-group-header">
        <h2>{{ 'your_profile_label' | translate }}</h2>
    </div>
<div class="edit-link">
<div>
      <a routerLink="/profile/edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>  {{ 'edit_label' | translate }}</span></a>
  <br />
      <a routerLink="/profile/change-password" class="btn btn-primary"><i class="fa fa-key" aria-hidden="true"></i><span>  {{ 'change_password_label' | translate }}</span></a>
  </div>
</div>

<div *ngIf="currentUser" class="user-profile">
    
    <!--<div class="form-group">-->
         <!--<label for="last_name"><a href="https://openedu.urfu.ru/files/NOTV17/NOTV/media/diplomas/{{currentUser.id}}-diploma.pdf" target="_blank">-->
         <!--<i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Получить сертификат участника конференции</a></label> -->
    <!--</div>-->

    <div class="form-group">
         <label for="last_name">{{currentUser.last_name}} {{currentUser.first_name}} {{currentUser.second_name}}</label> 
    </div>

    <div class="form-group">
               <label > <em>e-mail:</em> {{currentUserEmail}} </label> 
    </div>

        <div class="form-group">
         <label for="position"><em>{{'present_post_label' | translate}}:</em> {{currentUser.position}}</label>
    </div>

    <div class="form-group">
            <label for="organisation"><em>{{ 'job_label' | translate }}:</em> {{currentUser.organisation}}</label>
    </div>

    <div class="form-group">
        <label for="phone"><em>{{ 'phone_number_label' | translate }}:</em> {{currentUser.phone}}</label>
    </div> 

   <div class="form-group">
        <label *ngIf="currentUser.participation == 'O' " for="phone"><em>{{ 'type_of_participation' | translate }}:</em> {{ 'internally_label' | translate }}</label>
        <label *ngIf="currentUser.participation == 'T' " for="phone"><em>{{ 'type_of_participation' | translate }}:</em> {{ 'broadcast_label' | translate }}</label>
   </div> 

 </div>

  <div class="bigButton">
    <a class="button green" href="/pechakucha"><h4>Принять участие в PechaKucha</h4></a>
  </div>

</div>
