.speaker-board-photo{
    display: inline-block;
}

.speakers-board{
    display: inline-block;
}

.speaker-board-photo{
    border-radius: 50%;
}

.speaker-block{
text-align: center;
    display: inline-block;
    margin: 20px 20px;
    padding: 5px;
    border: 1px solid gray;
}