<div class="home-block" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2>PechaKucha</h2>
  <p><strong>PechaKucha</strong> &mdash; это открытая площадка для представления и обсуждения интересных идей и
    концепций создания новых онлайн-курсов по следующим направлениям:</p>
  <ul>
    <li>включение в программы высшего образования для университета;</li>
    <li>бизнес-курсы для программ дополнительного образования;</li>
    <li>новые технологические решения (AR/VR, бизнес-игры, симуляторы);</li>
    <li>онлайн-курсы для свободных слушателей (социальное значение);иные креативные идеи эффективного обучения.</li>
  </ul>
  <p><strong>PechaKucha онлайн-курсов</strong> &mdash; уникальная возможность представить свои идеи инвесторам и
    экспертам, получить финансирование и возможность размещения собственного онлайн-курса на платформе открытого
    образования.</p>
  <p><strong>PechaKucha</strong> (в переводе с японского &mdash; болтовня). Каждому автору необходимо подготовить 10
    слайдов, на презентацию которых будет 200 секунд. <br/>В ходе презентации идей постарайтесь донести до аудитории
    основные отличительные особенности Вашего курса:</p>
  <ul>
    <li>основная идея проекта (онлайн-курса);</li>
    <li>формируемые результаты обучения/иная цель;</li>
    <li>заказчик(и) онлайн-курса;</li>
    <li>целевая аудитория, ее емкость;</li>
    <li>конкурентное преимущество;</li>
    <li>бюджет проекта;</li>
    <li>применение онлайн-курса;</li>
    <li>финансовая поддержка проекта и/или модель монетизации;</li>
    <li>возможные риски;</li>
    <li>перспективы развития.</li>
  </ul>

  <!--  <div class="edit-link">-->
  <!--    <div>-->
  <!--      <a routerLink="/profile/edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>  {{ 'edit_label' | translate }}</span></a>-->
  <!--      <br />-->
  <!--      <a routerLink="/profile/change-password" class="btn btn-primary"><i class="fa fa-key" aria-hidden="true"></i><span>  {{ 'change_password_label' | translate }}</span></a>-->
  <!--    </div>-->
  <!--  </div>-->

  <button (click)="registerAtPechaKucha()" *ngIf="!accept_pechakucha" class="pk_accept_button">Принять учатие</button>

  <div class="user-profile" *ngIf="isLogged && currentUser && accept_pechakucha">

    <!--      <h3>Контактная информация</h3>-->
    <div class="pechakucha-form-group">
      <label
        for="last_name"><h3>{{currentUser.last_name}} {{currentUser.first_name}} {{currentUser.second_name}}</h3>
      </label>
    </div>

    <div class="pechakucha-form-group">
      <label> <strong>e-mail:</strong> {{currentUserEmail}} </label>
    </div>

    <div class="pechakucha-form-group">
      <label for="position"><strong>{{'present_post_label' | translate}}:</strong> {{currentUser.position}}</label>
    </div>

    <div class="pechakucha-form-group">
      <label for="organisation"><strong>{{ 'job_label' | translate }}:</strong> {{currentUser.organisation}}</label>
    </div>

    <div class="pechakucha-form-group">
      <label for="phone"><strong>{{ 'phone_number_label' | translate }}:</strong> {{currentUser.phone}}</label>
    </div>

    <div class="small-message">Информацию о себе вы всегда можете отредактировать в <span class="small-message-button"
                                                                                          (click)="this.router.navigateByUrl('profile/edit')"
                                                                                          style="color: #323239;">разделе "Профиль"</span>
    </div>
    <div class="pechakucha-form-group">

      <label for=""><strong>В качестве кого Вы хотите участвовать в PechaKucha онлайн-курсов?</strong></label>
      <div class="pechakucha-form-group"><input type="radio" [(ngModel)]="participation_type" name="participation_type"
                                                [checked]="'l' === participation_type" value="l"
                                                (change)="handleChange($event)" id="participation_type_l"><label
        for="participation_type_l">Слушатель</label></div>
      <div class="pechakucha-form-group"><input type="radio" [(ngModel)]="participation_type" name="participation_type"
                                                [checked]="'a' === participation_type" value="a"
                                                (change)="handleChange($event)" id="participation_type_a"><label
        for="participation_type_a">Автор идеи онлайн-курса с презентацией</label></div>
    </div>

    <div *ngIf="show_presentation_upload_block">


      <section *ngIf="currentUser">
        <div *ngIf="file?.pk_presentation_file"><br/>
          <h3>{{ 'your_presentation_label' | translate }}:</h3>
          <ul class="publications">
            <li class="publication">
              <a [href]="file.pk_presentation_file">
                <svg viewBox="0 0 185 185">
                  <path stroke="#999" fill="#FFF" stroke-width="2" d="m131,10H43v164h124V46zv36h36"/>
                  <path stroke="#999" stroke-width="72" stroke-dasharray="6,10" d="m94,25v135m23-1V56"/>
                  <path fill="#359" d="m90,60-67,8v80l67,8"/>
                  <path fill="#FFF" d="m40,92 6,32h6l5-22 5,22h6l6-32h-5.3l-4,22-5-22h-6l-4,22-5-22"/>
                </svg>
                <br/>
                <span class="filename">{{file.pk_presentation_title}}</span>
              </a>
              <!--              <i class="fa fa-times del" aria-hidden="true" (click)="fileDelete(doc.id)"></i>-->
            </li>
          </ul>

          <div *ngIf="showSuccess" class="upload-alert-success">
            {{ 'presentation_successfully_upload_msg' | translate: current_file }}
          </div>

        </div>
      </section>

      <section class="upload-form">
        <p>
          <strong *ngIf="file?.pk_presentation_file" for="material">{{ 'upload_new_presentation_label' | translate }}:
          </strong>
          <strong *ngIf="!file?.pk_presentation_file" for="material">{{ 'upload_presentation_label' | translate }}:
          </strong>
        </p>
        <form #f="ngForm" (ngSubmit)="fileChange($event)" name="form" novalidate>
          <div class="file-container">
            <label class="file_upload">

              <span class="button">
                <span *ngIf="is_choiced">{{ 'selected_label' | translate }}: {{current_file}}</span>
                <span *ngIf="is_choiced==false">{{ 'select_file_label' | translate }}</span>
              </span>

              <input (change)="choiced($event)" class="file-input"
                     placeholder="{{'upload_presentation_label' | translate }}" type="file">
            </label>
            <button *ngIf="is_choiced" class="file-send" value="Отправить"> {{ 'upload_label' | translate }}</button>
          </div>
        </form>
      </section>

    </div>

    <p class="pk_access"><strong>{{ 'pk_access_msg' | translate }}</strong></p>

    <button (click)="unregisterAtPechaKucha()" class="pk_unregister_button">Отказаться от участия</button>

  </div>

  <div class="" *ngIf="!isLogged">
    <div *ngIf="!isLogged">
      <button (click)="toRegister()" class="btn button-event-tologin">
        <ins style="font-weight: 500;">Войдите</ins>
        , чтобы принять участие
      </button>
    </div>
  </div>

</div>
