

<div class="event-block"  *ngIf="currentEvent">
    <button (click)="goBack()" class="btn btn-primary">К списку всех мероприятий</button>
  <p style="margin-top: 30px;">{{currentEvent.eventtype}}</p>
<h2>{{currentEvent.title}}</h2>
<p [innerHTML]="currentEvent.description"></p>

<p><strong> Начало: {{ currentEvent.startdate | date:'medium' }} </strong></p>
<p><strong>Окончание: {{ currentEvent.enddate | date:'medium' }} </strong></p>


  <div *ngIf="currentEvent.users.length">
      Спикеры:
      <div *ngFor="let user of currentEvent.users" class="event-speakers"> 
          <div class="event-speaker">
              <img  class="event-speakers-photo" src="http://placehold.it/150x150" />
              <p class="event-speakers-name">{{user.person.first_name}} {{user.person.last_name}}</p>
            <!--  <p *ngIf="user.person.position" class="event-speakers-position"> {{user.person.position}} </p> -->
          </div>
      </div>
  </div>

<div *ngIf="isLogged">
    <button (click)="registerOnEvent(currentEvent)" class="btn btn-primary">Зарегистрироваться</button>
    <button (click)="unregisterOnEvent(currentEvent)" class="btn btn-primary">Отрегистрироваться</button>
</div>

</div>