@import "~scss/base/variables";

.event-block-about {
  float: left;
  padding-right: 40px;

  .event-block-path-badge {
    display: inline-block;
    cursor: default;
    font-family: "IBM Plex Mono", monospace;
    padding: 2px 17px;
    font-size: 62.5%;

    font-weight: bold;
    letter-spacing: 0.7px;
    color: #ffffff;

    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;


    &.edu_ecosystem {
      background: $edu_ecosystem_color;
      border: solid 2px $edu_ecosystem_color;
    }

    &.edu_stsos {
      background: $edu_stsos_color;
      border: solid 2px $edu_stsos_color;
    }

    &.edu_interaction {
      background: $edu_interaction_color;
      border: solid 2px $edu_interaction_color;
    }

    &.edu_analytics {
      color: #282865;
      background: $edu_analytics_color;
      border: solid 2px $edu_analytics_color;
    }

    &.edu_inclusive {
      background: $edu_inclusive_color;
      border: solid 2px $edu_inclusive_color;
    }

    &.edu_tech {
      background: $edu_tech_color;
      border: solid 2px $edu_tech_color;
    }

    &.edu_legal {
      background: $edu_legal_color;
      border: solid 2px $edu_legal_color;
    }

    &.edu_ppk {
      //background: $edu_ppk_color;
      //border: solid 2px $edu_ppk_color;
      background: white;
      color: #282865;
      border: solid 2px #282865;

    }

  }

  .event-block-type-badge {
    display: inline-block;
    cursor: default;
    font-family: "IBM Plex Mono", monospace;
    padding: 2px 17px;
    font-size: 62.5%;
    background: #ffffff;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #00a7d8;
    border: solid 2px #00a7d8;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  .event-block-subject {
    font-family: "IBM Plex Mono", monospace;
    font-size: 100%;
    cursor: default;
    font-weight: 700;
    margin-bottom: 10px;

    a {

      //color: #00a7d8;
      transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out;

      &.active {
        cursor: pointer;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .event-block-ppk-msg {
    font-family: "IBM Plex Mono", monospace;
    margin: 16px 0px;
  }
}

.event-block-control {
  float: right;
  text-align: right;
  min-width: 220px;

  .event-block-room {
    color: #282866;
    /* font-size: 75%; */
    /* font-weight: bold; */
    color: #333333;
    margin-top: 7px;
    margin-bottom: 8px;
    font-family: "IBM Plex Mono", monospace;

    i {
      color: #282865;
    }

  }

  .event-block-time {
    /* font-size: 75%; */
    /* font-weight: bold; */
    font-family: "IBM Plex Mono", monospace;
    color: #282866;

    margin-top: 7px;
    margin-bottom: 12px;
    font-size: 12px !important;
  }

  button {
    display: inline-block;
    width: 210px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    font-size: 87.5%;
    font-weight: bold;

    background: white;
    transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out;

    box-sizing: border-box;
    padding: 6px;

    &.button-event-tologin {

      font-family: "IBM Plex Mono", monospace;
      color: #282866;
      font-size: 12px !important;
      width: 240px;
      font-weight: 100;
      border: solid 2px #00a7d8;

      &:hover {
        background-color: #dfdfdf;
      }
    }

    &.button-event-unregister {

      font-weight: 200;
      color: #e30613;
      border: solid 2px #e30613;
      //background-color: #e30613;

      &:hover {
        color: #fff;
        background-color: #e30613;
      }
    }

    &.button-event-register {
      letter-spacing: 1.2px;
      border: solid 2px #00a7d8;

      color: #00a7d8;


      &:hover {
        background: #00a7d8;
        color: #fff;
      }
    }
  }
}


.event-block {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 768px) {

  .event-block {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .event-block-about {
    float: none;
    width: 100%;
    padding-right: 10px;
  }

  .event-block-control {
    float: none;
    text-align: left;
  }


}
