<div *ngIf="currentEvent" class="event-block">
<!--  <alert></alert>-->
  <!--<button (click)="goBack()" class="btn btn-primary">К списку всех мероприятий</button>
  <button *ngIf="isLogged" (click)="goMyEvents()" class="btn btn-primary">К списку моих мероприятий</button>-->

  <div class="event-block-about">
    <div *ngIf="currentEvent.path" class="event-block-path-badge {{currentEvent.path.slug}}">
        {{ currentEvent.path.title }}
    </div>
    <div *ngIf="currentEvent.eventtype" class="event-block-type-badge">
      {{ currentEvent.eventtype }}
    </div>
    <div class="event-block-subject">
      <!--      <a *ngIf="hasOwnPage(currentEvent)" (click)="navigateToEvent()" class="active">{{currentEvent.title}}</a>-->
      <!--      <a *ngIf="!hasOwnPage(currentEvent)" >{{currentEvent.title}}</a>-->

    <a *ngIf="hasOwnPage(currentEvent)" [attr.href]="'events/'+ currentEvent.id"  class="active">{{currentEvent.title}}</a>
<!--      <a *ngIf="hasOwnPage(currentEvent)" routerLink="/events/{{currentEvent.id}}" class="active">{{currentEvent.title}}</a>-->
    <a *ngIf="!hasOwnPage(currentEvent)" >{{currentEvent.title}}</a>
    </div>

    <div  class="event-block-speakers" *ngIf="currentEvent.get_speakers.length">
      <span *ngFor="let user of currentEvent.get_speakers; let i = index" [attr.data-index]="i">
        {{user.person.first_name}} {{user.person.last_name}}<span *ngIf="i!=currentEvent.get_speakers.length-1">,</span>
<!--        <div class="person event-speaker">{{user.person.last_name}} {{user.person.first_name}} <span-->
<!--          *ngIf="user.person.organisation">, {{user.person.organisation}}<br/></span>-->
<!--          <div class='label'>-->
<!--            <div [ngStyle]="{'background':'url('+user.person.photo+')', 'background-size': 'cover'}"-->
<!--                 class="event-speaker-photo"></div>-->

<!--            {{user.person.first_name}} {{user.person.last_name}}<br/>{{user.person.position}}<br/><span-->
<!--            *ngIf="user.person.division">{{user.person.division}}<br/></span>{{user.person.organisation}}-->
<!--          </div>-->

<!--        </div>-->
      </span>
    </div>



    <template [ngIf]="currentEvent.path">
      <div *ngIf="currentEvent.path.slug == 'edu_ppk'" class="event-block-ppk-msg">
        {{ 'event_ppk_msg_1' | translate }} <a routerLink="/ppk_bid"> {{ 'event_ppk_msg_2' | translate }} </a>
      </div>
    </template>
  </div>

  <div class="event-block-control">

    <div class="event-block-room">
  <span *ngIf="currentEvent.room">  <i aria-hidden="true" class="fa fa-map-marker"></i> {{currentEvent.room.title}}</span>
  </div>

    <div class="event-block-time">
      <b>{{ currentEvent.startdate.getDate()}} {{ 'month_' + currentEvent.startdate.getMonth() + '_1' | translate  }} {{currentEvent.startdate.getFullYear()}},</b> {{ currentEvent.startdate | date:'shortTime' }} - {{ currentEvent.enddate | date:'shortTime' }}
    </div>

    <div *ngIf="showButtons">
      <div *ngIf="isLogged">
        <div *ngIf="isReg">
            <button (click)="attemptUnregisterOnEvent(currentEvent)" class="btn button-event-unregister">{{ 'not_to_participate_label' | translate}}
<!--            <button (click)="unregisterOnEvent(currentEvent)" class="btn button-event-unregister">Я не участвую-->
          </button>
        </div>

        <div *ngIf="!isReg">
          <button (click)="attemptRegisterOnEvent(currentEvent)" class="btn button-event-register">{{ 'participate_label' | translate}}</button>
        </div>
      </div>

      <div *ngIf="!isLogged">

          <button (click)="toRegister()" class="btn button-event-tologin">
                <ins style="font-weight: 600;">{{ 'login_to_participate_label_1' | translate }}</ins> {{ 'login_to_participate_label_2' | translate }}
          </button>
      </div>
    </div>

  </div>
  <!--<img src="assets/images/icons/{{currentEvent.get_event_slug}}_icon.svg"/>-->

<!--  <h3 style="margin-top: 5px;">{{currentEvent.eventtype}}</h3>-->

</div>



<!--  <div class="label modal">-->
<!--    <div class="modal-content">-->
<!--      <p [innerHTML]='currentEvent.description'></p>-->
<!--    </div>-->
<!--  </div>-->




<!--<div *ngIf="currentEvent.get_speakers.length">-->
<!--  <div *ngFor="let user of currentEvent.get_speakers">-->
<!--    <div class="person event-speaker">{{user.person.last_name}} {{user.person.first_name}} <span-->
<!--      *ngIf="user.person.organisation">, {{user.person.organisation}}<br/></span>-->
<!--      <div class='label'>-->
<!--        <div [ngStyle]="{'background':'url('+user.person.photo+')', 'background-size': 'cover'}"-->
<!--             class="event-speaker-photo"></div>-->

<!--        {{user.person.first_name}} {{user.person.last_name}}<br/>{{user.person.position}}<br/><span-->
<!--        *ngIf="user.person.division">{{user.person.division}}<br/></span>{{user.person.organisation}}-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->



