$FontPathOpenSans: "../node_modules/npm-font-open-sans/fonts";
@import '../node_modules/npm-font-open-sans/open-sans.scss';

@import 'scss/base/module';         // включает глобальные стили, такие как сброс стилей, типография, цвета и т.д.
@import 'scss/components/module';   //содержит отдельные компоненты с отдельным файлом .scss для каждого из них.

// @import 'scss/layout/module';    // содержит стили для основных компонентов макета, таких как хедер, футер, навигация и т.д.
// @import 'scss/pages/module';     // содержит стили, специфичные для отдельных страниц, если это необходимо.
// @import 'scss/themes/module';    // стили для разных тем
// @import 'scss/utils/module';     // глобальные миксины, функции, вспомогательные селекторы и т.д.
@import 'scss/vendors/module';   // стили, миксины и прочее от третьих сторон







@import '../node_modules/font-awesome/css/font-awesome.css';





/*
.slide-content > img{
    width: 100% !important;
}

*/

html {
  height: 100%;
  box-sizing: border-box;
}


*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 14rem;
  min-height: 100%;
  box-sizing: inherit;
  font-family: "Open Sans";
}

.app-user-events{
    margin-top: 80px;
    display: block;
}
.app-profile-edit{
    margin-top: 80px;
}

.app-load-materials{
    margin-top: 80px;
}

.reg-new-user{
    background: #eae9e9;
    padding: 20px;
    font-size: 12pt;
    //font-weight: 300;
    text-align: center;

    button{
        min-width: 150px;
        margin-left: 10px;
        font-family: "Open Sans";
        padding: 0.4em 0.8em;
        color: rgba(0, 0, 0, 0.8);
        border: transparent;
        background-color: rgba(250, 250, 250, 0.8);
        text-decoration: none;
        border-radius: 2px;
        display: inline-block;

    }
}

alert .alert{
    padding: 15px 0px;
    text-align: center;
}

alert .alert-success{
   // background: green;
}
alert .alert-danger{
   // background: red;
}

.page-title{
    max-width: 1200px;
    margin-top: 23px;
    margin: 0 auto;
    text-align: center;
}

.app-event-list{
        padding: 30px;
        margin: 0px auto;
        background: rgba($light_shadow, .5);
        width: 1000px;
        margin-top: -30px;
        margin-bottom: 35px;
}

.app-event-list{
      //  padding-top: 90px;
}

.app-event {
    height: 100%;
}
.container {
    margin-top: 23px;
}

.event-block{
   
    margin: 0 auto;
    height: 100%;
    height: 100%;


    
    button{
        min-width: 150px;

        font-family: "Open Sans";
        padding: 0.4em 0.8em;
        color: rgba(0, 0, 0, 0.8);
        border: transparent;
        background-color: #E6E6E6;
        text-decoration: none;
        border-radius: 2px;
        display: inline-block;
        /* zoom: 1; */
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        box-sizing: border-box;
        position: absolute;
        bottom: 0.5rem;
        
        &.button-event-tologin{
            font-size: 12pt;
            font-weight: 100;
            background-color: #E6E6E6;
            &:hover{
                background-color: #dfdfdf;
            }
        }

        &.button-event-unregister{
            font-size: 13pt;
            font-weight: 200;
            color: #fff;
            background-color: #ee4037;
            &:hover{
                background-color: #ca251c;
            }
        }

        &.button-event-register{
            font-size: 13pt;
            font-weight: 200;
            color: #fff;
            background-color:#5cb85c;
            &:hover{
                background-color: #20a120;
            }
        }

    }

    img {
        height: 4em;
        width: 4em;
        position: relative;
        margin-top:-1.5em;
        float:right;




    }
}

html{
    overflow-y: scroll;
}

header.app-nav{
	height: 46px;
   // padding-bottom: 61px;
}

.static-page{
    text-align:center;
   // padding-top: $menu-height;
}

.time-container{
   display: inline-block;
}
.day-container{
   // float: left;
}

.event-speaker{
   /* display: inline-block;*/
}

// img.event-speakers-photo{
//     width: 90px;
//     display: inline-block;
//     vertical-align: middle;
//     border-radius: 50%;
// }

 .event-speaker-photo{
display: inline-block;
    height: 60px;
    border-radius: 50%;
    width: 60px;
        margin: 5px;
    position: relative;
}

.event-speakers-name{
    display: inline-block;
       margin-left: 10px;
}

.event-speakers-position{
    display: inline-block;
    vertical-align: middle;
}

.time-item{
   float: left; 
   // width: $time_item_width;
    text-align: center;
 //   padding: $event_item_padding  0px;
  //  height: $event_height;
    font-family: "Open Sans";
}

.conference-date{
    font-family: "Open Sans";
    text-align: center;
    padding: 10px 0px;
    margin: 0px $event_item_margin;
    background: #f2f2f2;

}

.events-container{
    width: $events_container_width;
    margin: 0 auto;
    //margin-top: 130px;
}

.events-at-day{
     float: left;
     width: $events_at_time_width;
     margin-bottom: -4px;
}

.eventtype-name{
    margin: 0px;
    font-size: 10pt;
}


.eventtype-empty{
    border-top: $event_left_border solid grey;
}

.eventtype-working_group{
    border-top: $event_left_border solid $green;
}
.eventtype-plenar{
    border-top: $event_left_border solid cornflowerblue;
}
.eventtype-panel_discussion{
    border-top: $event_left_border solid $green;
}
.eventtype-round_table{
    border-top: $event_left_border solid $red;
}
.eventtype-master_class{
    border-top: $event_left_border solid $blue;
}
.eventtype-interview{
    border-top: $event_left_border solid $turquoise;
}
.eventtype-report{
    border-top: $event_left_border solid #ffc107;
}
.eventtype-hackaton{
    border-top: $event_left_border solid $purple;
}

.event-time{
       // width: ($events_at_time_width / $event_count) - ($event_item_margin*2)- ($event_item_padding*2) - 2 - $event_left_border;
        margin: 5px $event_item_margin;
        vertical-align: middle;
        box-shadow: 0 0 2px grey;
      //  min-height: $event_height*$event_count;
        padding: $event_item_padding;
        font-family: "Open Sans";
        background-color: #fbfbfb;
}

@mixin event-time($event_count) {
        float: left;
        width: ($events_at_time_width / $event_count) - ($event_item_margin*2)- ($event_item_padding*2) - 2 - $event_left_border;
        margin: 5px $event_item_margin;
        vertical-align: middle;
        box-shadow: 0 0 2px grey;
        min-height: $event_height*$event_count;
        padding: $event_item_padding;
        font-family: "Open Sans";
        background-color: #fbfbfb;
        overflow: hidden;
        position: relative;
        padding-bottom: 4rem;
}

@for $i from 1 through 4{
    .event-time-#{$i}{
            @include event-time($i);
    }
}


@media screen and (min-width: 768px) {

.menu-button{
    display: none;
}


nav {
    background-color: $dark_gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 46px;
  //  width: 1024px;
    margin: 0 auto;

   /* -webkit-box-shadow: 0px 0px 6px 0px black;
    -moz-box-shadow: 0px 0px 6px 0px black;
    box-shadow: 0px 0px 6px 0px black;
*/
    ul.menu { 
        margin: 0 auto;
        padding: 0px;
        text-align: center;
    

        li.item {
            list-style: none;
            display: inline-block;

            &:hover {
                background-color: rgba(242,242,242,.3);
                    ul  {
                    //display: block;
                    z-index: 1001;
                }
            }
            
            &.active{
                background-color: rgba(242,242,242,.4);   
                ul  {
                    display: block;    
                }
            }
            


            a {
                text-decoration: none;
                color: $menu-color-text;
                font-family: "Open Sans";
                padding: 0px 0px;
               // float: left;
               display: block;
                padding: 12px 9px;
            }

            ul {
                padding: 0px;
                text-align: center;
                top: 46px;
                left: 0px;
                right: 0px;
                background-color: rgba(242, 242, 242, .5);;
                position: absolute;
                display: none;
                    li{
                        &.active_sub a  {
                            font-weight: bold;   
                        }
                        padding-top: 6px;
                        z-index: 1010;
                        vertical-align: top;
                        display: inline-block;
                        a{
                            padding-top: 0px;
                            color: black;
                            font-size: 9pt;
                            line-height: 10pt;
                                /* max-width: 118px; */
                            text-align: center;
                         //   padding: 1px 8px;
                        }
                    }
                }
        
        }
    }

}
  [type="checkbox"], label.button-nav {
	  display: none;
}
}


@media screen and (max-width: 768px) {


nav {
    background-color: $dark_gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 46px;
    z-index: 100;
    

    /*-
    webkit-box-shadow: 0px 0px 6px 0px black;
    -moz-box-shadow: 0px 0px 6px 0px black;
    box-shadow: 0px 0px 6px 0px black;
 */

    label {
            display: block;
            width: 61px;
            height: 40px;
            cursor: pointer;
            position: relative;
            right: -6px;
            top: 0px;
            background: $dark_gray;
        }

    input{
        display: none;
    }

    label:after{
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        box-shadow: 0px 8px 0px #777, 0px 16px 0px #777, 0px 24px 0px #777;
    }

    ul.showed{
        display: block !important;  

        li.item{
            padding: 6px 0px;

            a{
                display: block !important;
            }
            ul{
                display: none !important;
            }

        }
    }

    ul.submenu{
        overflow-x: auto;
        //overflow-x:hidden;
        white-space: nowrap;
    }


    ul.menu { 
        list-style: none;
        position: relative;
        margin: 0 auto;
        text-align: center;
      // display: none;
        padding: 0px;
    


        li.item {
            
            display: block;
            position: relative;
           // padding: 4px 0px;
            
            &:hover {
                background-color: rgba(242,242,242,.3);
            }
            
            &.active{
                background-color: rgba(242,242,242,.4);    
            }
            
            &.active ul  {
               display: none;
               display: block;    
            }

            &:hover ul  {
               //display: block;
                z-index: 1001;
            }

           /** &.active a{
                display: none; 
            }*/

            a {
                display: none;
                text-decoration: none;
                color: $menu-color-text;
                font-family: "Open Sans";
            }

            ul {
                padding: 0px;
                text-align: center;
                left: 0px;
                right: 0px;
                background-color: rgb(242,242,242);
                display: none;
                    li{
                        list-style: none;
                        padding: 5px 5px;
                        display: inline-block;

                        &.active_sub a  {
                            font-weight: bold;  
                          
                        }
                        
                        z-index: 1010;
                            padding-top: 6px;
                        vertical-align: top;
                      //  display: inline-block;
                        a{
                             padding-top: 0px;
                            display: block;
                            color: black;
                            font-size: 11pt;
                                max-width: 118px;
                        }
                    }
                }
        
        }
    }

}
}