
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }



// баннер

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
 .home-block{
        padding:30px;
        margin: 20px;
        background: rgba($light_shadow, .5);
        
    }
    
    $width: 600;
    $height: 300;


    .homeBanner{

        section.banner {
            margin-top:-6px;
            padding-top: 1px;
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
             background: url("/assets/images/a-2-01.png") no-repeat;
            background-size: auto $height+px;
            background-position:67%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    .home-block{
        padding:30px;
        margin: 20px ;
       background: rgba($light_shadow, .5);
        
    }
    
    $width: 1000;
    $height: 300;

    .homeBanner{

        section.banner {
            margin-top:-6px;
            padding-top: 1px;
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
             background: url("/assets/images/a-2-01.png") no-repeat;
            background-size: auto $height+px;
            background-position:50%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 

    .home-block{
        padding:30px;
        margin: 30px;
   background: rgba($light_shadow, .5);
        
    }



        
    $width: 1000;
    $height: 460;

    .homeBanner{

        section.banner {
            padding-top: 1px;
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
             background: url("/assets/images/a-2-01.png") no-repeat;
            background-size: auto $height+px;
            background-position:50%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 

    .home-block{
        padding:30px;
        margin: 30px ;
     background: rgba($light_shadow, .5);
        
    }




    $width: 1200;
    $height: 558;

    .homeBanner{

        section.banner {
            padding-top: 1px;
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
             background: url("/assets/images/a-2-01.png") no-repeat;
            background-size: auto $height+px;
            background-position:50%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

    .home-block{
        padding:30px;
        margin: 30px auto;
         background: rgba($light_shadow, .5);
        width: 1000px;
    }



    $width: 1920;
    $height: 668;

    .homeBanner{

        section.banner {
            padding-top: 1px;
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
            background: url("/assets/images/a-2-01.png") no-repeat;
            background-size: auto $height+px;
            background-position:50%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }
 }
 
@media (min-width: 1921px) { 
    .home-block{
        padding:30px;
        margin: 30px auto;
         background: rgba($light_shadow, .5);
        width: 1200px;
    }


    $width: 2560;
    $height: 856;

    .homeBanner{

        section.banner {
            position: relative;
            background: url("http://placehold.it/"+$width+"x"+$height+"?text=baner1--small_"+$width+"x"+$height)  no-repeat;
            background-size: auto $height+px;
            background-position:50%;
            height: $height+px;
            
            h1{
                position: relative;
            }
        }
    }

}



section.banner{
    box-shadow: 0 0 36px black;
}




