
<div *ngIf="slides">
  <div class="home-slider"> 
    <div class="slides-wrap">
      <div *ngFor="let slide of slides" class="home-slide" [ngClass]="{'active': slide.active}" >
              <div [innerHTML]="slide.html"></div> 
      </div>
    </div>
    <div class="prev-button" (click)="prevSlide()">prev</div>
    <div class="next-button" (click)="nextSlide()">next</div> 
  </div>
</div>

<div *ngIf="homePage">
  <div *ngFor="let block of homePage.pages">
    <div *ngIf="block.type=='block'" class="home-block">
      <div [innerHTML]="block.html"></div> 
    </div>
  </div>
</div>




