
<!--<div *ngIf="slides">
  <div class="home-slider"  (mouseleave)="startSlider()" (mouseover)="pauseSlider()"> 
    <div class="slides-wrap">
      <div *ngFor="let slide of slides" class="home-slide" [ngClass]="{'active': slide.active}" >
              <div [innerHTML]="slide.html"></div> 
      </div>
    </div>
    <div class="prev-button" (click)="prevSlide()">prev</div>
    <div class="next-button" (click)="nextSlide()">next</div> 
  </div>
</div>-->

<div *ngIf="homePage">
  <template ngFor let-block [ngForOf]="homePage.pages" let-i="index">
  
    <div *ngIf="block.type=='banner'" class="homeBanner">
      <div [innerHTML]="block.html"></div> 
    </div>

    <div *ngIf="block.type=='block' || block.type=='events'" class="home-block">
      <h2>{{ block.title }}</h2>
      <div [innerHTML]="block.html"></div>
      <button *ngIf="block.type=='events'" (click)="toEventByDirection(block.slug)">Подробнее</button> 
    </div>
  </template>
</div>




